<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Shortcuts" type="System.Configuration.NameValueSectionHandler" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>

	<appSettings file="Configuration\General.config">
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SendKeys" value="SendInput" />
	</appSettings>

	<log4net configSource="Configuration\Logs.config" />
	<Shortcuts configSource="Configuration\Shortcuts.config" />

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>