<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Shortcuts" type="System.Configuration.NameValueSectionHandler" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>

	<appSettings file="Configuration\General.config">
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SendKeys" value="SendInput" />
	</appSettings>

	<log4net configSource="Configuration\Logs.config" />
	<Shortcuts configSource="Configuration\Shortcuts.config" />
</configuration>