<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="SendKeys" value="SendInput"/>

  <!-- 
    # Production: EVE - 
    # Tests:      Desktop
    -->
  <add key="EveOnlineTitle" value="EVE -" />

  <add key="EveFolder" value ="C:\EVE3\EVE"/>

  <!-- Application size -->

  <add key="ClientWidth" value="570" />
  <add key="ClientHeight" value="295" />

  <add key="EveOnlineLogsFolder" value="C:\Users\SuCentralFortress\Documents\EVE\logs\Gamelogs\" />

</appSettings>