<Shortcuts>
  <add key="ShipStop" value="F10"/>
  <add key="OpenHoldsAndBays" value="z"/>
  <add key="NextTarget" value="F9"/>
  <add key="PrevuesTarget" value="p"/>
  <add key="ReloadAmmo" value="r"/>
  <add key="LockTarget" value="t"/>
  <add key="UnlockAllTargets" value="u"/>
  <add key="LaunchDrones" value="F12"/>
  <add key="ScoopDrones" value="F11"/>
  <add key="DronesAttack" value="F8"/>
  <add key="Approach" value="Q"/>
  <add key="TacticalOverview" value="Crl+D"/>
  <add key="ExitStation" value="Crl+E"/>
  <add key="FormFleet" value="Shift+F"/>
  <add key="ClearScreen" value="x"/>
  <add key="KeepAtRange" value="e"/>
  <add key="OpenCargo" value="j"/>
  <add key="Orbit" value="w"/>
  <add key="OpenOreHold" value="Alt+1"/>
</Shortcuts>




